#include <meka.hpp>

extern meka::package meka;
extern meka::package boost;

meka::package foo = {
  name    = "foo",
  version = "0.0.1",
  link    = meka,

  meka::lib {
    name     = "bar",
    sources  = { "src/*.cpp" },
    cxxflags = { "-fpedantic" },
    cflags   = { "-fpedantic" },
    link     = { boost.get_library("boost_filesystem") }
  },

  meka::bin {
    name    = "bla",
    sources = { "src/main.cpp", "src/test.cpp" },
    meka::host
  },

  meka::test {
    name    = "boo",
    sources = { "test/test_boo.cpp" }
  }
};
